body{
    margin:0;
    font-family:sans-serif,Arial;
}
.navbar{
    display:flex;
    justify-content:space-between;
    background-color: aliceblue;
    align-items:centre;
    border:3px solid;
    padding-bottom: 10px;
    border-color: blue;


}
.nav-links{
    display:Flex;
    justify-content:space-between;
    gap:20px;
}
.nav-buttons{
    display:flex;
    justify-content:space-between;
text-align: center;}
.nav-buttons .btn{
    border:5px solid;
    width:92.8px;
    height:43px;
    font-size:25px;
    text-align: center;
    margin-right:10px;
    padding:2px;
}
.nav-links li a{
    color:rgb(151, 135, 222);

}
.nav-links li a:hover{
    color: aqua;
}
.login{
    background-color: antiquewhite;
}
.signup{
    background-color: rgb(3, 3, 30);
}
.login:hover,.signup:hover{
    color:rgb(6, 72, 177);
   opacity:0.8;
}
.hero{
    background-color: rgb(84, 61, 139);
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center; 
    min-height:850px;
    padding-left: 40px;
}
.changing-text{
    text-align: center;
    transition:opacity 2s;
    transform: translateY(-120px);

}

.banner img{
    width: 600px;
    transform: translateY(-120px);

}
 